/* Styling for the toolbar at the top of the dialog */
.mat-toolbar {
  /* Negative margin to adjust the toolbar's position */
  margin: -24px;
  /* Adds space below the toolbar */
  margin-bottom: 10px;
  /* Ensures the toolbar width is auto, adjusting based on its content */
  width: auto;
}

/* Styling for the material form fields within the dialog */
mat-form-field {
  /* Adds padding around the form field for spacing */
  padding: 5px;
}
