<!-- Window -->
<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <!-- Title of the dialog -->
    <span>Change password</span>
    <!-- Spacer to push the close button to the right side -->
    <span class="spacer"></span>
    <!-- Close button for the dialog -->
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Inside window - Fields and buttons -->
<mat-dialog-content class="mat-typography">
  <form [formGroup]="changePasswordForm">
    <div fxFlex fxLayout="column">

      <!-- Old Password field -->
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" [type]="oldPassword ? 'password' : 'text'" required>
        <!-- Toggle visibility of the old password -->
        <button type="button" mat-icon-button matSuffix (click)="oldPassword = !oldPassword"
                [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="oldPassword">
          <mat-icon>{{oldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <!-- Icon changes based on the oldPassword state to show/hide password -->
        </button>
        <!-- Error handling for the old password field -->
        <mat-error *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
          <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">This field is mandatory</span>
        </mat-error>
      </mat-form-field>

      <!-- New Password field -->
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" [type]="newPassword ? 'password' : 'text'" required>
        <!-- Toggle visibility of the new password -->
        <button type="button" mat-icon-button matSuffix (click)="newPassword = !newPassword"
                [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="newPassword">
          <mat-icon>{{ newPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <!-- Error handling for the new password field -->
        <mat-error *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
          <span *ngIf="changePasswordForm.controls.newPassword.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>

      <!-- Confirm New Password field -->
      <mat-form-field appearance="standard" fxFlex>
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" [type]="confirmPassword ? 'password' : 'text'" required>
        <!-- Toggle visibility of the confirm password -->
        <button type="button" mat-icon-button matSuffix (click)="confirmPassword = !confirmPassword"
                [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="confirmPassword">
          <mat-icon>{{ confirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <!-- Error handling for the confirm password field -->
        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
          <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required">This field is mandatory.</span>
        </mat-error>
        <!-- Hint for password mismatch -->
        <mat-hint *ngIf="validateSubmit() && changePasswordForm.controls.confirmPassword.invalid">
          <span>New Password & Confirm Password does not match.</span>
        </mat-hint>
      </mat-form-field>

      <!-- Buttons -->
      <mat-dialog-actions align="end">
        <!-- Update button, disabled if form is invalid, unchanged, or passwords do not match -->
        <button mat-raised-button color="primary" type="submit" (click)="handlePasswordChangeSubmit()"
                [disabled]="validateSubmit() || !(changePasswordForm.valid && changePasswordForm.dirty)">
          <mat-icon>save</mat-icon> Update
        </button>
        <!-- Close button to dismiss the dialog -->
        <button mat-raised-button color="warn" mat-dialog-close>
          <mat-icon>cancel</mat-icon> Close
        </button>
      </mat-dialog-actions>

    </div>
  </form>
</mat-dialog-content>
