/* Styling for the toolbar in the dialog */
.mat-toolbar {
  /* Moves the toolbar to align with other elements */
  margin: -24px;
  /* Adds space below the toolbar to separate */
  margin-bottom: 10px;
  /* Ensures the toolbar's width adjusts automatically based on its content */
  width: auto;
}

/* Styling for the form fields in the dialog */
mat-form-field {
  /* Adds padding around each form field for better spacing */
  padding: 5px;
}

/* Styling for the hint text */
mat-hint {
  /* Sets the color of the hint text to red, for error or warning messages */
  color: red;
}
