<!-- Navigation list with custom accordion behavior -->
<mat-nav-list appAccordion>
  <!-- List item generated for each menu-item returned by getMenuItems -->
  <mat-list-item appAccordionLink
                 *ngFor="let menuItem of MenuItems.getMenuItems()"
                 routerLinkActive="selected"
                 group="{{menuItem.state}}">
    <!-- Anchor tag with routerLink for navigation, only rendered if menuItem is a link and matches user role -->
    <a class=""
       appAccordionToggle
       [routerLink]="['/cafe/', menuItem.state]"
       *ngIf="menuItem.type === 'link' && (menuItem.role === '' || menuItem.role === userRole)">
      <!-- Icon for the menu item -->
      <mat-icon>{{menuItem.icon}}</mat-icon>
      <!-- Name of the menu item -->
      <span>{{menuItem.name}}</span>
    </a>
  </mat-list-item>
</mat-nav-list>
