/* Adds padding inside Material Design form fields */
mat-form-field {
  padding: 5px; /* Ensures that there is some space around the content inside each form field */
}

/* Utility class to float elements */
.float-right {
  float: right; /* Floats the element to the right side of its container */
}

/* Ensures all tables take up the available width */
table {
  width: 100%; /* Sets the table to span the full width of its container */
}

/* Adds padding to the Material Design cards */
mat-card {
  padding-bottom: 30px !important; /* Adds extra padding at the bottom of mat-card and marks it as important */
}
